
.mapa iframe {
    width: 100%;
}

.iframe {
    border: 0;
}


#loginUser .containerLogin #login-row #login-column #login-box {
 
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  text-align: center;
}
#loginUser .containerLogin #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#loginUser .containerLogin #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

#loginRegister .containerRegister #login-row #login-column #login-box {
 
  margin-top: 30px;
  max-width: 600px;
  height: 41em;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#loginRegister .containerRegister #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#loginRegister .containerRegister #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}


#spanLogin{
	color: white;
	padding-right: 2em;
	padding-left: 1em;
}

.flaticon-user{
	color: white;
}




